{% extends 'dashboard.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <h1>Edit Course</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
{#{% extends 'base.html.twig' %}

{% block title %}Edit My Account{% endblock %}

{% block body %}
<div class="container">

   <div class="tour-details-wrapper pt-80">
        <!--=== Tour Title Wrapper ===-->
        <div class="tour-title-wrapper pb-30 wow fadeInUp">
            <div class="row">
                <div class="col-xl-6">
                    <div class="tour-title mb-20">
                        <h3 class="title">Edit Profile</h3>
    {{ form_start(courseform) }}
    {{ form_row(courseform.Descrition) }}
    {{ form_row(courseform.Duration) }}
    {{ form_row(courseform.Difficulty) }}
    {{ form_row(courseform.Category) }}

    {# Add more form fields as needed #
    <button type="submit" class="btn btn-primary">Save Changes</button>
    {{ form_end(courseform) }}
     </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}#}