{{ form_start(form) }}

{# Display error message for startdate field #}
{% if form_errors(form.startdate) %}
    <div class="alert alert-danger">
        {{ form_errors(form.startdate) }}
    </div>
{% endif %}

{{ form_row(form.startdate) }}

{# Display error message for enddate field #}
{% if form_errors(form.enddate) %}
    <div class="alert alert-danger">
        {{ form_errors(form.enddate) }}
    </div>
{% endif %}

{{ form_row(form.enddate) }}

<button class="main-btn primary-btn">{{ button_label|default('BOOK') }}<i class="fas fa-paper-plane"></i></button>
{{ form_end(form) }}