{% extends 'dashboard.html.twig' %}

{% block title %}EcoRoam{% endblock %}

{% block body %}
 <div class="container-fluid">
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Add</strong> product</h2>
                <ul class="header-dropdown">
                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                            <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-12"> <b>intitule product</b>
                     {{form_start(productForm,{'attr': {'novalidate': 'novalidate','method': 'post'}})}} 
                        <div class="input-group colorpicker">                                   
                            {{ form_widget(productForm.intitule, { 'attr': {'class':'form-control','placeholder':'Intitule'} } ) }} 
                            <br>{{form_errors(productForm.intitule) }}   </br>
                        </div>
                        <div class="input-group colorpicker">                                   
                            {{ form_widget(productForm.description, { 'attr': {'class':'form-control','placeholder':'Description'} } ) }}
                             {{form_errors(productForm.description) }} 
                        </div>
                        <div class="input-group colorpicker">                                   
                            {{ form_widget(productForm.prix, { 'attr': {'class':'form-control','placeholder':'Price'} } ) }} 
                             {{form_errors(productForm.prix) }} 
                        </div>
                        <div class="input-group colorpicker">                                   
                            {{ form_widget(productForm.stock, { 'attr': {'class':'form-control','placeholder':'stock'} } ) }}
                               {{form_errors(productForm.stock) }}
                        </div>
                        <div class="input-group colorpicker">                                   
                            {{ form_widget(productForm.categorie, { 'attr': {'class':'select form-control','placeholder':'categorie'} } ) }}
                              {{form_errors(productForm.categorie) }} 
                        </div>
                        <div class="input-group colorpicker">                                   
                            {{ form_widget(productForm.image, { 'attr': {'class':'form-control file'} } ) }}
                              {{form_errors(productForm.image) }} 
                        </div>
                        <div class="input-group colorpicker">                                   
                            {{ form_widget(productForm.Add, { 'attr': {'class':'btn btn-primary waves-effect'} } ) }}
                              {{form_errors(productForm.prix) }} 
                        </div>
                      
                           {{form_end(productForm)}}
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}