<!DOCTYPE html>
<html lang="zxx">
    
<!-- Mirrored from demo.webtend.net/html/gowilds/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 18:54:25 GMT -->
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Adventure, Tours, Travel">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Title ======-->
    <title>{% block title %}Ecoroam{% endblock %}</title>
    <!--====== Favicon Icon ======-->
    {% block css %}
    <link rel="shortcut icon" href="{{asset ('/gowilds/images/favicon.ico')}}" type="image/png">
    <!--====== Google Fonts ======-->
    <link
        href="{{asset ('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&amp;display=swap')}}"
        rel="stylesheet">
    <!--====== Flaticon css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/fonts/flaticon/flaticon_gowilds.css')}}">
    <!--====== FontAwesome css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/fonts/fontawesome/css/all.min.css')}}">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--====== magnific-popup css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/vendor/magnific-popup/dist/magnific-popup.css')}}">
    <!--====== Slick-popup css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/vendor/slick/slick.css')}}">
    <!--====== Jquery UI css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/vendor/jquery-ui/jquery-ui.min.css')}}">
    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/vendor/nice-select/css/nice-select.css')}}">
    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/vendor/animate.css')}}">
    <!--====== Default css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/css/default.css')}}">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{asset ('/gowilds/css/style.css')}}">
        <style type="text/css">
            #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
                height:400px;
            }
        </style>
    {% endblock %}
</head>

<body>
    <header>
   {% if  app.user is null %}
    {% set targetPath = path('app_logout') %} 
    <script>
        window.location.href = "{{ targetPath }}";
    </script>
{% endif %}
{% if not is_granted('ROLE_USER') %}
    <script>
        window.location.href = "{{ path('app_destination_index') }}";
    </script>
{% endif %}
        <!--====== Start Preloader ======-->
     {#   <div class="preloader">
            <div class="loader">
                <div class="pre-shadow"></div>
                <div class="pre-box"></div>
            </div>
        </div>#}
        <!--====== End Preloader ======-->
        <!--====== Search From ======-->
        <div class="modal fade search-modal" id="search-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form>
                        <div class="form_group">
                            <input type="search" class="form_control" placeholder="Search here" name="search">
                            <label><i class="fa fa-search"></i></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--====== Search From ======-->
        <!--====== Header Area ======-->-
        <section class="header-area header-four ">
            <!--====== Header Navigation ======-->
            <div class="header-navigation">
                <div class="nav-overlay"></div>
                <div class="container-fluid">
                    <div class="primary-menu">
                        <!--====== Site Branding ======-->
                        <div class="site-branding">
                            <a href="index.html" class="brand-logo"><img
                                    src="{{asset ('/gowilds/images/logo/LOGOE.png')}} " alt="Site Logo"></a>
                            <style>
                                /* CSS to control image size */
                                .brand-logo {
                                    width: 55px;
                                    height: 55px;
                                }
                            </style>
                        </div>
                        <!--====== Nav Menu ======-->
                        <div class="nav-menu">
                            <!--====== Site Branding ======-->
                            <div class="mobile-logo mb-30 d-block d-xl-none">
                                <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo-black.png"
                                        alt="Site Logo"></a>
                            </div>
                            <!--=== Nav Search ===-->
                            <div class="nav-search mb-30 d-block d-xl-none ">
                                <form>
                                    <div class="form_group">
                                        <input type="email" class="form_control" placeholder="Search Here" name="email"
                                            required>
                                        <button class="search-btn"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>

                            <!--====== main Menu ======-->
                            <nav class="main-menu">
                                <ul>
                                    <li class="menu-item"><a href="{{ path('app_home') }}">Home</a></li>

                                    <li class="menu-item has-children"><a href="{{ path('app_destination_indextemp') }}">Destination</a>
                                        <ul class="sub-menu">
                                            <li><a href="{{ path('app_destination_indextemp') }}">Destination</a></li>

                                        </ul>
                                    </li>
                                    <li class="menu-item has-children"><a href="#">Activities</a>
                                        <ul class="sub-menu">
                                            <li><a href="{{ path('app_activities_indextemp') }}">Activities</a></li>

                                        </ul>
                                    </li>

                                    <li class="menu-item has-children"><a href="{{ path('app_course_indextemp') }}">Eco Education</a>
                                        
                                    </li>
                                    <li class="menu-item has-children"><a href="{{ path('app_shop') }}">Our Shop</a>
                                      
                                    </li>
                                    <li class="menu-item"><a href="{{ path('app_events_indextemp') }}">Our Events</a></li>
                                    <li class="menu-item"><a href="{{ path('app_comment_ajouter') }}">Forum</a></li>


                                    <li class="menu-item search-item">
                                        <div class="search-btn" data-bs-toggle="modal" data-bs-target="#search-modal"><i
                                                class="far fa-search"></i></div>
                                    </li>
                                </ul>
                            </nav>
                            <!--====== Menu Button ======-->
                            <div class="menu-button mt-40 d-xl-none">
                                <a href="contact.html" class="main-btn secondary-btn">Book<i
                                        class="fas fa-paper-plane"></i></a>
                            </div>
                        </div>
                        <!--====== Nav Right Item ======-->
                        <div class="nav-right-item">
                            <div class="menu-button d-xl-block d-none">
                                <a href="{{ path('app_logout') }}" class="main-btn primary-btn">LogOut<i
                                        class="fas fa-paper-plane"></i></a>
                            </div>
                            <div class="navbar-toggler">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!--====== End Area ======-->

    <!--====== Start Partners Section ======-->
    <section>

        {% block body %}

        <div class="container">
            <!--=== Partners Slider ===-->
            <div class="partner-slider-one pt-80 pb-70 wow fadeInUp">
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="assets/images/partner/partner-6.png" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="assets/images/partner/partner-7.png" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="assets/images/partner/partner-8.png" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="assets/images/partner/partner-9.png" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="assets/images/partner/partner-10.png" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">

                    <div class="partner-img">
                        <a href="#"><img src="assets/images/partner/partner-7.png" alt="Partner Image"></a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </section>

    <!--====== End Partners Section ======-->
    
    
    <!--====== Start Footer ======-->
    <footer class="main-footer black-bg">
        <div class="container">
            <!--=== Footer CTA ===-->
            
            <!--=== Footer Widget ===-->
            <div class="footer-widget-area pt-75 pb-30">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <!--=== Footer Widget ===-->
                        <div class="footer-widget about-company-widget mb-40 wow fadeInUp">
                            <h4 class="widget-title">About</h4>
                            <div class="footer-content">
                                <p></p>
                                <a href="#" class="footer-logo"><img src="assets/images/logo/logo-white.png"
                                        alt="Site Logo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <!--=== Footer Widget ===-->
                        <div class="footer-widget service-nav-widget mb-40 pl-lg-70 wow fadeInRight">
                            <h4 class="widget-title">Services</h4>
                            <div class="footer-content">
                                <ul class="footer-widget-nav">
                                    
                                </ul>
                                <ul class="footer-widget-nav">
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!--=== Footer Widget ===-->
                        <div class="footer-widget footer-newsletter-widget mb-40 pl-lg-100 wow fadeInUp">
                            <h4 class="widget-title">Newsletter</h4>
                            <div class="footer-content">
                                <p>Which of us ever undertake laborious
                                    physical exercise except obtain</p>
                                <form>
                                    <div class="form_group">
                                        <label><i class="far fa-paper-plane"></i></label>
                                        <input type="email" class="form_control" placeholder="Email Address"
                                            name="email" required>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=== Footer Copyright ===-->
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-lg-6">
                        <!--=== Footer Text ===-->
                        <div class="footer-text">
                            <p> @2024 <span style="color: #F7921E;">EcoRoam</span>, All Right Reserved</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--=== Footer Nav ===-->
                        <div class="footer-nav float-lg-end">
                            <ul>
                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--====== End Footer ======-->
    <!--====== Back To Top  ======-->
    <a href="#" class="back-to-top"><i class="far fa-angle-up"></i></a>
    <!--====== Jquery js ======-->
    {% block js %}
    <script src="{{asset ('/gowilds/vendor/jquery-3.6.0.min.js')}}"></script>
    <!--====== Bootstrap js ======-->
    <script src="{{asset ('/gowilds/vendor/popper/popper.min.js')}}"></script>
    <!--====== Bootstrap js ======-->
    <script src="{{asset ('/gowilds/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!--====== Slick js ======-->
    <script src="{{asset ('/gowilds/vendor/slick/slick.min.js')}}"></script>
    <!--====== Magnific js ======-->
    <script src="{{asset ('/gowilds/vendor/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
    <!--====== Isotope js ======-->
    <script src="{{asset ('/gowilds/vendor/isotope.min.js')}}"></script>
    <!--====== Imagesloaded js ======-->
    <script src="{{asset ('/gowilds/vendor/imagesloaded.min.js')}}"></script>
    <!--====== Counterup js ======-->
    <script src="{{asset ('/gowilds/vendor/jquery.counterup.min.js')}}"></script>
    <!--====== Waypoints js ======-->
    <script src="{{asset ('/gowilds/vendor/jquery.waypoints.js')}}"></script>
    <!--====== Nice-select js ======-->
    <script src="{{asset ('/gowilds/vendor/nice-select/js/jquery.nice-select.min.js')}}"></script>
    <!--====== jquery UI js ======-->
    <script src="{{asset ('/gowilds/vendor/jquery-ui/jquery-ui.min.js')}}"></script>
    <!--====== WOW js ======-->
    <script src="{{asset ('/gowilds/vendor/wow.min.js')}}"></script>
    <!--====== Main js ======-->
    <script src="{{asset ('/gowilds/js/theme.js')}}"></script>
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />

    {% endblock %}
</body>

<!-- Mirrored from demo.webtend.net/html/gowilds/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 18:54:47 GMT -->

</html>